Título-principal {
padding-left: 20px;
background-color:darkblue 
}

#banner{
width:100%;
  
}

h1{
  text-align: center;
}

p{
  text-align: center;
}

#missão{
  font-size: 20px;
}

em strong{
  color:indianred
}

.beneficios{
  background-color:aqua ;
  padding: 2opx;
}

h2{
  text-align: center;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item{
  font-style: italic;
}

.imagem-beneficios{
  width: 50%;
}